* {
    margin: 0;
}

.large-container {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.space-img {
    max-height: 100vh;
    filter: grayscale(100%);
}

#title {
    position: fixed;
    z-index: 1;
    color: white;
    font-size: 3rem;
}